*.pyc
__pycache__
checkpoints
*/__pycache__/*
.nfs*
ADE
data_generation/test
wandb
encoders
encoders_prev
encoders_cw
output.wav
.jpg
data_generation/synthetic_tasks_for_fid_new
data_softlink
data
encoders_adrianr
sift_classification/results
encoders
debug
*.mp4
sift_classification/computed_features_imagenet100
sift_classification/results_imagenet100
*.pdf
*.pth
*.pth.tar
*.jpg
